<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <title>na_web</title>
</head>
<body>
  <script src="./script/home.js"></script>
  <!-- トップバー関連 -->
  <header>
    <div class="Top_main">
    <div class="Top_image"><svg viewBox="0 0 70 20" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com">
      <defs>
        <style bx:fonts="Jua">@import url(https://fonts.googleapis.com/css2?family=Jua%3Aital%2Cwght%400%2C400&amp;display=swap);</style>
      </defs>
      <text style="fill: rgb(255, 255, 255); font-family: Jua; font-size: 10px; font-weight: 700; stroke-width: 0.988418px; white-space: pre;" transform="matrix(1.872036, 0, 0, 2.014529, -270.774261, -210.260635)" x="144.816" y="112.953">na_web</text>
    </svg></div>
    <div id="home_btn" class="Top_btn_On"></div>
    <div id="about_btn" class="Top_btn_Off"></div>
  </div>
</div> 
  </header>
  <!-- データ表示、検索機能関連 -->
  <div class="Info_main">
    <ul>
      <li>
        <div class="Info_text_s">掲載店舗数</div>
        <div class="Info_text_m"><%= items.length %></div>
      </li>
      <li>
        <div class="Info_text_s">サイトアクセス数</div>
        <div class="Info_text_m"><%= Access %></div>
      </li>
    </ul>
    <div class="Info_Serach">
      <div class="Info_box"><input type="text" id="inputText" placeholder="駅名" onchange="Search()" /></div>
      <div class="Info_btn"><a href="javascript:void(0);" onclick="Search()"><span>検索</span></a></div>
    </div>
  </div>
  <!-- テーブル関連 -->
  <% const tr_1='<tr class="Tbl_tr" onclick="Show(this)" id="'%>
  <% const tr_2='"/>'%>
  <table class="Tbl_main" id="mainTable">
    <tbody>
      <% for(let i=0; i < items.length; i++) { %><%- tr_1 + items[i].name + "," + items[i].station + "," + items[i].tabelog + tr_2 %>
      <td class="Tbl_td_data">
        <div>
          <a href="javascript:void(0);"><%= items[i].name %></a>
          <span> - <%= items[i].station %> Posted: <%= items[i].date %></span>
        </div>
        <div>
          <ul class="Tbl_btn_list">
            <li>
              <div id="mapLink" >
                <svg role="img" xmlns="http://www.w3.org/2000/svg" width="24px" height="32px" viewBox="0 0 24 24" aria-labelledby="exploreIconTitle" stroke="#ff5454" stroke-width="2.25" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#3232fb"> <title id="exploreIconTitle">Explore</title> <polygon points="14.121 14.121 7.05 16.95 9.879 9.879 16.95 7.05"/> <circle cx="12" cy="12" r="10"/> </svg>
              </div>
            </li>
            <li>
              <div id="tabelogLink" >
                <svg role="img" xmlns="http://www.w3.org/2000/svg" width="24px" height="32px" viewBox="0 0 24 24" aria-labelledby="newIconTitle" stroke="#e09500" stroke-width="2.25" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#3232fb"> <title id="newIconTitle">New</title> <path d="M19 14V22H2.99997V4H13"/> <path d="M17.4608 4.03921C18.2418 3.25817 19.5082 3.25816 20.2892 4.03921L20.9608 4.71079C21.7418 5.49184 21.7418 6.75817 20.9608 7.53921L11.5858 16.9142C11.2107 17.2893 10.702 17.5 10.1716 17.5L7.5 17.5L7.5 14.8284C7.5 14.298 7.71071 13.7893 8.08579 13.4142L17.4608 4.03921Z"/> <path d="M16.25 5.25L19.75 8.75"/> </svg>
              </div>
            </li>
          </ul>
        </div>
      </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <!-- The Modal -->
  <div id="myModal" class="Mdl_main">
    <div id="myModalContent" class="Mdl_content">
      <div id="ImagePanel" class="Mdl_img"></div>
      <div id="dialogTitle" class="Mdl_title"></div>
      <div>
        <ul class="Mdl_btn_list">
          <li>
            <div id="mapLink" />
          </li>
          <li>
            <div id="tabelogLink" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>