<!DOCTYPE html>
<html>

<head lang="ja">
  <script>
    var modal; //modal dialog
    window.onload = function () {
      modal = document.getElementById("myModal"); //modal dialog
    }
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    // Enter検知で検索開始
    function Keyinput(e) {
      var input = document.getElementById("inputText");
      alert(input.value);
    }

    // 検索ボタン
    function Search() {
      var input = document.getElementById("inputText").value;
      var rowElement = document.getElementById("mainTable").rows;
      for (let cnt = 0; cnt < rowElement.length; cnt++) {
        if (!rowElement[cnt].id.includes(input)) {
          rowElement[cnt].style.display = "none";
        }
        else {
          rowElement[cnt].style.display = "";
        }
      }
    }

    //検索クリア
    function Reset() {
      var rowElement = document.getElementById("mainTable").rows;
      for (let cnt = 0; cnt < rowElement.length; cnt++) {
        rowElement[cnt].style.display = "";
      }
    }

    // 店名クリック → tr を取得してダイアログ表示
    function Dialog(e) {
      //var parent = e.parentNode.parentNode.parentNode;
      Show(e);
    }

    // ダイアログ表示
    function Show(e) {
      var selItem = e.getAttribute("id").split(",");
      if (selItem.length != 3) {
        alert("Selected Item Error.");
      }

      // [0] 店名
      // [1] 駅名
      // [2] リンク

      var title = document.getElementById('dialogTitle')
      title.innerHTML = selItem[0] + " - " + selItem[1];

      //画像
      var image = document.getElementById('ImagePanel')
      image.innerHTML = "<image class=\"modal_image\" src=\"./image/" + selItem[0] + ".jpg\"></image>"
      //Google Mapリンク
      var ma_link = document.getElementById('mapLink')
      ma_link.innerHTML = "<a href=\"https://www.google.com/maps/dir/?api=1&destination=" + selItem[1] + "+" + selItem[0] +
        "\" target=\"_blank\" class=\"link_ma\"><span>Map</span></a>"
      // 食べログリンク
      var ta_link = document.getElementById('tabelogLink')
      ta_link.innerHTML = "<a href=\"https://tabelog.com/" + selItem[2] + "\" target=\"_blank\" class=\"link_ta\"><span>tabelog</span></a>"
      //ツイッターリンク
      var tw_link = document.getElementById('TweetLink')
      tw_link.innerHTML = "<a href=\"http://twitter.com/share?url=https://trysail.jp/&text="
        + selItem[0] + "\" target=\"_blank\" class=\"link_tw\"><span>Tweet</span></a>"

      modal.style.display = "block";

      //ダイアログ中央配置
      var content = document.getElementById('myModalContent');
      content.style.top = (window.innerHeight - content.clientHeight) / 2 + "px";
      content.style.left = (window.innerWidth - content.clientWidth) / 2 + "px";

    }
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <title>na_web</title>
</head>

<body style="padding-top: 40px;">
  <header>
    <!-- タイトルdiv -->
    <div style="margin: 0 auto; display: flex; align-items: center;">
      <div style="width: 100px;">
        <image src="./image/na_web.png" width="80px"></image>
      </div>
      <div style="width: 80px; margin: 0 10px;"><a href="https://trysail.jp/" class="Top_btn"><span
            style="font-weight: bold;">Home</span></a></div>
      <div style="width: 80px; margin: 0 10px;"><a href="https://trysail.jp/" class="Top_btn"><span
            style="font-weight: bold;">#na_eats</span></a></div>
      <div style="width: 80px; margin: 0 10px;"><a href="https://trysail.jp/" class="Top_btn2"><span
            style="font-weight: bold;">about</span></a></div>
    </div>
  </header>

  <!-- 検索ボックス / 店舗数 / Access カウンター -->
  <div class="Top_info_Area">
    <ul>
      <li>
        <div class="Data_displabel_1">掲載店舗数</div>
        <div class="Data_displabel_2"><%= items.length %></div>
      </li>
      <li>
        <div class="Data_displabel_1">サイトアクセス数</div>
        <div class="Data_displabel_2"><%= Access %></div>
      </li>
    </ul>
    <div style="display: flex; padding-bottom: 0px;">
      <div style="width: 80%;"><input type="text" id="inputText" placeholder="駅名" onchange="Search()"></input></div>
      <div style="width: 15%;"><a href="javascript:void(0);" class="Search_btn"><span style="font-weight: bold;">検索</span></a></div>
    </div>
  </div>

  <!-- Table items -->
  <% const tr_s1='<tr class="tr_main" onclick="Dialog(this)" id="'%>
  <% const tr_s2='"/>'%>
  <table class="t_main" id="mainTable">
    <tbody id="s_result">
      <% for(let i=0; i < items.length; i++) { %><%- tr_s1 + items[i].name + "," + items[i].station + "," + items[i].tabelog + tr_s2 %>
      <td style="width: 100px; padding: 0px 10px;">
        <div id="listImage" />
        <%- '<image src="./image/' + items[i].name + '.jpg" width="100%"></image>' %>
      </td>
      <td style="padding-left: 10px;">
        <div>
          <a href="javascript:void(0);" style="font-weight: bold;"><%= items[i].name %></a>
          <span class="item_sub"> - <%= items[i].station %></span>
        </div>
        <div><span class="item_sub">掲載日: <%= items[i].date %></span></div>
      </td>
      </tr>
      <% } %>
    </tbody>
  </table>

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <div id="myModalContent" class="modal-content">
      <div class="modal_body" id="ImagePanel" style="width: 100%; margin: auto;"></div>
      <div id="dialogTitle" style="font-weight: bold; font-size: 24px; margin: 0 10%;"></div>
      <div>
        <ul class="modal_btnList">
          <li>
            <div id="mapLink" />
          </li>
          <li>
            <div id="tabelogLink" />
          </li>
          <li>
            <div id="TweetLink" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>