<!DOCTYPE html>
<html>

<head lang="ja">
  <script>
    var modal; //modal dialog
    window.onload = function () {
      modal = document.getElementById("myModal"); //modal dialog
    }
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    function Search() {
      var input = document.getElementById("inputText").value;
      var rowElement = document.getElementById("mainTable").rows;
      for (let cnt = 0; cnt < rowElement.length; cnt++) {
        if (!rowElement[cnt].id.includes(input)) {
          rowElement[cnt].style.display = "none";
        }
        else {
          rowElement[cnt].style.display = "";
        }
      }
    }
    function Reset() {
      var rowElement = document.getElementById("mainTable").rows;
      for (let cnt = 0; cnt < rowElement.length; cnt++) {
        rowElement[cnt].style.display = "";
      }
    }

    // ダイアログ表示
    function Dialog(e) {
      var selItem = e.getAttribute("id").split(",");
      if (selItem.length != 3) {
        alert("Selected Item Error.");
      }

      var title = document.getElementById('dialogTitle')
      title.innerHTML = selItem[0] + " - " + selItem[1];

      var link = document.getElementById('tabelogLink')
      link.innerHTML = "<a href=\"https://tabelog.com/" + selItem[2] + "\" target=\"_blank\">食べログで閲覧</a>"

      modal.style.display = "block";

      //ダイアログ中央配置
      var content = document.getElementById('myModalContent');
      content.style.top = (window.innerHeight - content.clientHeight) / 2 + "px";
      content.style.left = (window.innerWidth - content.clientWidth) / 2 + "px";
    }
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <title>Document</title>
</head>

<body>
  <header style="background :rgb(179, 179, 179);">TestTitle</header>

  <table class="t_sub" style="background: greenyellow;">
    <tr>
      <td style="width: 100px;"><label>掲載店舗数<%= items.length %></label></td>
    </tr>
    <tr>
      <td style="width: 100px;"><label id="test_label">駅名検索</label></td>
      <td style="width: 300px;"><input type="text" id="inputText" class="i_search"></input></td>
      <td style="width: 30px;"><input type="button" value="検索" onclick="Search()"></td>
      <td style="width: 30px;"><input type="button" value="取消" onclick="Reset()"></td>
    </tr>
  </table>

  <!-- Table items -->
  <% const tr_s1='<tr onclick="Dialog(this)" id="'%>
  <% const tr_s2='"/>'%>
  <table class="t_main" border="0" id="mainTable">
    <tbody id="s_result">
      <% for(let i=0; i < items.length; i++) { %><%- tr_s1 + items[i].name + "," + items[i].station + "," + items[i].tabelog + tr_s2 %>
      <td style="width: 100px;">
        <image src="./image/4dtEpDB__400x400.jpeg" width="100%"></image>
      </td>
      <td>
        <div><%= items[i].name %> - <%= items[i].station %></div>
        <div>掲載日 <%= items[i].date %></div>
      </td>
      </tr>
      <% } %>
    </tbody>
  </table>

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div id="myModalContent" class="modal-content">
      <div class="modal-body">
        <image src="./image/4dtEpDB__400x400.jpeg"></image>
      </div>
      <div class="modal-body">
        <div id="dialogTitle" />
      </div>
      <div>
        <a href="http://twitter.com/share?url=https://trysail.jp/&text=てすと" target="_blank">Twitterで共有</a>
      </div>
      <div id="tabelogLink" />
    </div>
</body>

</html>